<!doctype html>
<html data-layout-decorator="layout/crawl">
  <head>
    <title data-th-inline="text">Batch [[ ${batchId} ]]</title>
  </head>
  <body>
    <div data-layout-fragment="content"> 
    <div class="row">
      <section class="col-sm-12">
        <h1 class="page-header" data-th-inline="text">
          Batch [[ ${batchId} ]]: [[ ${count} ]] items: [[ ${execution.crawlKey()} ]]
        </h1>
        <h2>Steps</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Start time</th>
              <th>End time</th>
              <th>Duration</th>
              <th>Metadata</th>
            </tr>
          </thead>
          <tbody>
            <tr data-th-each="step : ${steps}" data-th-object="${step}">
              <td data-th-text="*{name}">Name</td>
              <td data-th-text="*{{startTime}}">Start time</td>
              <td data-th-text="*{{endTime}}">End time</td>
              <td data-th-text="${step.duration != null ? periodFormat.print(step.duration.toPeriod(periodType)) : '—'}">Duration</td>
              <td>
                <th-block data-th-fragment="map(metadata)" data-th-include=":: map(*{metadata})">
                  <dl class="dl-compact shrinkable">
                    <th-block data-th-each="kv : ${metadata}">
                      <dt data-th-text="${kv.key}">Key</dt>
                      <dd data-th-if="${kv.value instanceof T(java.util.Map)}" data-th-include=":: map(${kv.value})">Recursive Map</dd>
                      <dd data-th-unless="${kv.value instanceof T(java.util.Map)}" data-th-text="${kv.value ?: '--'}">Value</dd>
                    </th-block>
                  </dl>
                </th-block>
              </td>
            </tr>
          </tbody>
        </table>
        <h2>Pages</h2>
        <table class="table" style="table-layout: fixed; word-wrap: break-word;" id="batch-pages">
          <thead>
            <tr>
              <th class="col-sm-11">Key</th>
              <th class="col-sm-1">Score</th>
            </tr>
          </thead>
          <tbody>
            <tr data-th-each="entry : ${batchData}"
              data-th-object="${entry}">
              <td>
                <a href="#"
                  data-th-href="@{/storage/{campaignId}/{crawlId}(campaignId=${campaign.id},crawlId=${crawl.id},url=*{key})}"
                  data-th-text="*{key}">
                  com.google.www:/
                </a>
              </td>
              <td data-th-text="${#numbers.formatDecimal(entry.score, 1, 3)}" class="count">1.0</td>
            </tr>
          </tbody>
        </table>
      </section>
      <script type="text/javascript" data-th-src="@{/js/tablesort.min.js}"></script>
      <script type="text/javascript" data-th-src="@{/js/tablesort.numeric.js}"></script>
      <script>
        window.onload = function() {
            console.log(document.getElementById('batch-pages'));
            new Tablesort(document.getElementById('batch-pages'));
        }
      </script>
    </div>
    </div>
  </body>
</html>