<!doctype html>
<html data-layout-decorator="layout/crawl">
  <head>
    <title data-th-inline="text">Crawl execution [[ ${execution.id} ]]</title>
  </head>
  <body>
    <div data-layout-fragment="tab-content"> 
    <div class="row">
      <section class="col-sm-12">
        <h1 class="page-header" data-th-inline="text">
          Crawl execution [[ ${execution.id} ]]: [[ ${{execution.startTime}} ]] – [[ ${{execution.endTime}} ]]
        </h1>
        <h2>Specification</h2>
        <pre data-th-text="${specification}"></pre>

        <section data-th-unless="${#lists.isEmpty(batches)}">
          <h2>Batches</h2>
          <table class="table">
            <thead>
              <tr>
                <th title="Sequence number">#</th>
                <th>Started</th>
                <th>Finished</th>
                <th>Meta data</th>
              </tr>
            </thead>
            <tbody>
              <tr data-th-each="batch : ${batches}"
                data-th-object="${batch}">
                <td><a data-th-text="*{seqNumber}" data-th-href="@{/campaign/{campaign}/{crawl}/{execution}/{batch}/(campaign=${campaign.id},crawl=${crawl.id},execution=${execution.id},batch=*{seqNumber})}">1</a></td>
                <td data-th-text="*{{startTime}}">2014-07-02 5:00</td>
                <td data-th-text="*{{endTime}}">2014-07-03 6:00</td>
                <td data-th-text="*{metadata}">key: value</td>
              </tr>
            </tbody>
          </table>
        </section>
        <hr />
        <section data-th-unless="${#maps.isEmpty(scoreSums)}" class="row">
          <div class="col-md-6">
          <h2>Score sum</h2>
          <table class="table" id="table-scoreSums">
            <thead>
              <tr>
                <th>Batch</th>
                <th class="count">Score sum</th>
              </tr>
            </thead>
            <tbody>
              <tr data-th-each="kv : ${scoreSums}">
                <td data-th-text="${kv.key}">1-1</td>
                <td data-th-text="${#numbers.formatDecimal(kv.value, 1, 2, 'POINT')}" class="count">1.0</td>
              </tr>
            </tbody>
          </table>
          </div>
          <div id="chart-scoreSum" class="col-md-6"></div>
        </section>
        <hr />
        <section data-th-unless="${#maps.isEmpty(relevanceScores)}" class="row">
          <div class="col-md-6">
          <h2>Topic relevance scores</h2>
          <div class="table-responsive">
            <table class="table" id="table-relevanceScores">
              <thead>
                <tr>
                  <th>Batch</th>
                  <th data-th-each="h : ${histogramHeaders}" data-th-text="${h}" class="count">0.00</th>
                </tr>
              </thead>
              <tbody>
                <tr data-th-each="kv : ${relevanceScores}">
                  <th data-th-text="${kv.key}">1-1</th>
                  <td data-th-each="v : ${kv.value}" data-th-text="${v}" data-th-classappend="${v == 0 ? 'text-muted' : ''}" class="count">1.0</td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
          <div id="chart-relevanceScores" class="col-md-6"></div>
        </section>
        <hr />
        <section data-th-unless="${#maps.isEmpty(timeScores)}" class="row">
          <div class="col-md-6">
          <h2>Time relevance scores</h2>
          <div class="table-responsive">
            <table class="table" id="table-timeScores">
              <thead>
                <tr>
                  <th>Batch</th>
                  <th data-th-each="h : ${histogramHeaders}" data-th-text="${h}" class="count">0.00</th>
                </tr>
              </thead>
              <tbody>
                <tr data-th-each="kv : ${timeScores}">
                  <th data-th-text="${kv.key}">1-1</th>
                  <td data-th-each="v : ${kv.value}" data-th-text="${v}" data-th-classappend="${v == 0 ? 'text-muted' : ''}" class="count">1.0</td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
          <div id="chart-timeScores" class="col-md-6"></div>
        </section>

          <script type="text/javascript" data-th-src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
          <script type="text/javascript" data-th-src="@{/js/highcharts.js}"></script>
          <script type="text/javascript" data-th-src="@{/js/modules/data_trunk.src.js}"></script>
          <script type="text/javascript" data-th-src="@{/js/modules/exporting.js}"></script>
          <script type="text/javascript">
          $(function () {
            $("#chart-scoreSum").highcharts({
                chart: {
                    type: "line"
                },
                data: {
                    table: document.getElementById("table-scoreSums"),
                    columnTypes: ["string", "float"],
                },
                title: null,
                tooltip: {
                    pointFormat: '<b>{point.y}</b>'
                },
                yAxis: {
                    floor: 0,
                    title: {
                        text: "Sum"
                    }
                },
                xAxis: {
                    tickAmount: 10,
                    type: 'linear'
                },
                legend: {
                    enabled: false
                }
            });
            ["relevanceScores", "timeScores"].forEach(function(chart) {
                $("#chart-"+chart).highcharts({
                    chart: {
                        type: "line"
                    },
                    data: {
                        table: document.getElementById("table-" + chart),
                        switchRowsAndColumns: true
                    },
                    plotOptions: {
                        series: {
                            marker: {
                                enabled: false
                            }
                        }
                    },
                    title: null,
                    yAxis: {
                        floor: 0,
                        title: {
                            text: "Count"
                        }
                    },
                    xAxis: {
                        tickAmount: 10,
                        type: 'linear'
                    },
                    legend: {
                        enabled: false
                    }
                });
            });
          });
          </script>
      </section>
    </div>
    </div>
  </body>
</html>