<!doctype html>
<html data-layout-decorator="layout/crawl">
  <head>
    <title data-th-text="${crawl.id == null ? 'Add crawl' : 'Edit crawl'}">edit_crawl</title>
  </head>
  <body>
    <div data-layout-fragment="tab-content"> 
    <div class="row">
      <section class="col-sm-12">
        <h1 class="page-header"
          data-th-inline="text">
          Crawl [[ ${crawl.id} ]]: [[ ${crawl.name} ]]
        </h1>

        <h2>Specification</h2>
        <pre class="well" data-th-text="${specification}"></pre>

        <h2>Executions</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Start time</th>
              <th>End time</th>
              <th>Specification</th>
            </tr>
          </thead>
          <tbody>
            <tr data-th-each="row : ${executions}" data-th-object="${row}">
              <td><a data-th-text="*{id}" data-th-href="@{/campaign/{campaign}/{crawl}/{execution}/(campaign=${campaign.id},crawl=${crawl.id},execution=*{id})}">Id</a></td>
              <td data-th-text="*{{startTime}}"></td>
              <td data-th-text="*{{endTime}}"></td>
              <td data-th-text="*{configuration}"></td>
            </tr>
          </tbody>
        </table>
        <form data-th-action="@{/campaign/{campaign}/{crawl}/start(campaign=${campaign.id},crawl=${crawl.id})}" method="post">
          <input type="submit" value="Start now" class="btn btn-default" />
        </form>
      </section>
    </div>
    </div>
  </body>
</html>