<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="head">
  <title layout:title-pattern="$CONTENT_TITLE – $DECORATOR_TITLE">iCrawl</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}" />
  
  <script type="application/javascript" th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
  <script type="application/javascript" th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
    <div class="alert" th:classappend="${messageType} ? ${'alert-' + messageType} : 'alert-danger'" th:if="${message != null}" th:inline="text">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      [[ ${message} ]]
    </div>

    <section layout:fragment="content">
      Content goes here
    </section>
  </div>  
</body>
</html>
