<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head th:fragment="head">
    <title layout:title-pattern="$CONTENT_TITLE – $DECORATOR_TITLE">iCrawl</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}" />
  </head>

  <body>

    <div class="navbar navbar-default navbar-static-top" th:fragment="navigation">
      <div class="container">
        <a class="navbar-brand" href="#" th:href="@{/}" th:text="#{site.title}">Project name</a>
        <ul class="nav navbar-nav">
          <li th:class="${section == 'campaigns'} ? 'active'"><a href="#campaigns" th:href="@{/}">Campaigns</a></li>
          <li th:class="${section == 'status'} ? 'active'"><a href="#status" th:href="@{/status/}">Status</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li th:class="${section == 'settings'} ? 'active'"><a href="#settings" th:href="@{/settings/}">Settings</a></li>
          <li th:class="${section == 'about'} ? 'active'"><a href="#about" th:href="@{/about}">About</a></li>
          <li sec:authorize="isAuthenticated()"><form th:action="@{/evaluation/logout}" method="post"><input type="submit" value="Logout" class="btn btn-link navbar-btn"/></form></li>
        </ul>
      </div>
    </div>

    <div class="container">

      <div class="alert" th:classappend="${messageType} ? ${'alert-' + messageType} : 'alert-danger'" th:if="${message != null}" th:inline="text">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        [[ ${message} ]]
      </div>

      <section layout:fragment="content">
        Content goes here
      </section>

    </div>

  </body>

</html>