.searchresults {
  .resultTitle, .keywords a, .entities a {
    color: #157fcc;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }

  .resultTitle {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    text-decoration: none;

    .x-grid-cell-inner {
      white-space: normal;
      line-height: 26px;
    }
  }

  .resultBody {
    margin: -5px 0 10px 0;

    .url {
      margin-top: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      a {
        color: #007700;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .keywords {
      margin-bottom: 0;
    }

    .entities {
      margin-top: 0;
    }

    .description {
      margin-top: 0;
      color: #333;
    }
  }

  .x-grid-item-over {
    background-color: transparent;
  }

  .x-grid-item-focused .x-grid-cell-inner:before {
    border: 0 !important;
  }
}