.listbox {
  .addItemIcon {
    background-image: url(images/add.png) !important;
  }

  .removeItemBtn {
    border: 0 !important;
    background-color: transparent !important;
    background-repeat: no-repeat !important;
  }

  .x-grid-item-over {
    .removeItemBtn {
      background-image: url(images/delete.png) !important;
    }
  }

  .x-grid-item-focused .x-grid-cell-inner:before {
    border: 0 !important;
  }
}