<!doctype html>
<html data-layout-decorator="layout/layout">
  <head>
    <title>Crawler status</title>
  </head>
  <body>
    <div data-layout-fragment="content"> 
    <div class="row">
    <section class="col-sm-12">
      <h1 class="page-header">Crawler status</h1>
      <dl>
        <dt>Crawl DB</dt>
        <dd data-th-inline="text">
          <i class="glyphicon"
            data-th-classappend="|glyphicon-${crawlDB.running ? 'ok' : 'remove'}|"></i> [[
          ${crawlDB.status} ]]
        </dd>

        <dt>Metadata DB</dt>
        <dd data-th-inline="text">
          <i class="glyphicon"
            data-th-classappend="|glyphicon-${metadataDB.running ? 'ok' : 'remove'}|"></i> [[
          ${metadataDB.status} ]]
        </dd>

        <dt>CrawlManager</dt>
        <dd data-th-inline="text">
          <!-- <i class="glyphicon" data-th-classappend="|glyphicon-${crawlManager.running ? 'ok' : 'remove'}|"></i> -->
          [[ ${crawlManager.status} ]]
        </dd>

        <dt>MessageBus</dt>
        <dd data-th-inline="text">
          <i class="glyphicon"
            data-th-classappend="|glyphicon-${messageBusManager.running ? 'ok' : 'remove'}|"></i> [[
          ${messageBusManager.status} ]]
        </dd>
      </dl>
      <h2>Crawls</h2>
      <table class="table" data-th-unless="${runningCrawls.isEmpty()}">
        <thead>
          <tr>
            <th>Name</th>
            <th>Started</th>
            <th>Batch</th>
            <th>Phase</th>
            <th>Phase progress</th>
            <th>Stop</th>
          </tr>
        </thead>
        <tbody id="crawlStatus">
          <tr data-th-each="status : ${runningCrawls}" data-th-object="${status}">
            <td data-th-text="*{name}">Foo crawl</td>
            <td data-th-text="*{{startTime}}">2014-06-20 17:00</td>
            <td><a href="#" data-th-href="@{/campaign/{campaign}/{crawl}/{execution}/{batch}/(campaign=*{campaign}, execution=*{execution}, crawl=*{crawl}, batch=*{batchSeq})}" data-th-text="*{batchSeq}">2</a></td>
            <td data-th-text="*{phase}">Fetch</td>
            <td><div class="progress">
                <div class="progress-bar" role="progressbar" data-th-aria-valuenow="*{phaseProgress}" aria-valuenow="60" aria-valuemin="0"
                  aria-valuemax="100" style="width: 60%;" data-th-style="|width: *{phaseProgress}%;|" data-th-title="|*{phaseProgress}% complete|">
                  <span class="sr-only" data-th-text="|*{phaseProgress}% complete|" >60% Complete</span>
                </div>
              </div></td>
            <td><form data-th-action="@{/campaign/{campaign}/{crawl}/stop(campaign=*{campaign}, crawl=*{crawl})}" method="post">
                <button class="btn btn-danger"><i class="glyphicon glyphicon-stop"></i> Stop</button>
              </form></td>
          </tr>
        </tbody>
      </table>
      <p data-th-if="${runningCrawls.isEmpty()}" class="alert alert-info">No running crawls</p>

        <h2>Scheduled tasks</h2>
      <table class="table" data-th-unless="${scheduledTasks.isEmpty()}">
        <thead>
          <tr>
            <th>Name</th>
            <th>Start time</th>
            <th>Status</th>
            <th>configuration</th>
          </tr>
        </thead>
        <tbody id="scheduledTasks">
          <tr data-th-each="task : ${scheduledTasks}" data-th-object="${task}">
            <td data-th-text="*{crawl.name}">Foo crawl</td>
            <td data-th-text="*{{startTime}}">2014-06-20 17:00</td>
            <td data-th-text="*{executionStatus}">SCHEDULED</td>
            <td data-th-text="*{configuration}">Fetch</td>
          </tr>
        </tbody>
      </table>
      <p data-th-if="${scheduledTasks.isEmpty()}" class="alert alert-info">No scheduled tasks</p>

        <h2>Events</h2>
        <ul id="event-list">
        </ul>
        <script type="text/javascript" data-th-src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
        <script type="text/javascript" data-th-src="@{/js/stomp.js}"></script>
        <script type="text/javascript">//<![CDATA[
        $(document).ready(function() {
            if(window.WebSocket) {
              var url = "ws://localhost:61633/";
              var destination = "/topic/crawls"
              var client = Stomp.client(url);
	      var login = "", passcode = "";

              client.connect(login, passcode, function(frame) {
                  console.log("connected to Stomp");
                  client.subscribe(destination, function(message) {
                    $("#event-list").append("<li>" + message.body + "</li>\n");
                  });
                });

            } else {
              $("#events").html("\
                  <h1>Get a new Web Browser!</h1>\
                  <p>\
                  Your browser does not support WebSockets. This example will not work properly.<br>\
                  Please use a Web Browser with WebSockets support (WebKit or Google Chrome).\
                  </p>\
              ");
            }
          });
          //]]>
        </script>
        </section>
      </div>
    </div>
  </body>
</html>