<div id="description">
  <div class="row">
    <section class="col-md-12">
      <h1 class="page-header">iCrawl evaluation</h1>
      <p>This is a short description of the evaluation task.</p>
      <p>This paragraph describes the background of the experiment.</p>
      <p>This paragraph describes the evaluation criteria.</p>
      <p>This paragraph states the required effort and the possibility to interrupt the experiment.</p>
      <p>This line thanks the participant.</p>
    </section>
  </div>
</div>