<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="head">
  <title layout:title-pattern="$CONTENT_TITLE – $DECORATOR_TITLE">iCrawl</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}" />
</head>
<body class="evaluate">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <div class="title">
          <img src="/images/l3s_logo.png" width="128" height="128" />
          <h4>iCrawl Evaluation</h4>
          <a href="#" data-toggle="modal" data-target="#instructions">Instructions</a>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <a th:href="@{/evaluation/signout}" href="#">Sign out</a>
        </div>
  
        <br />
  
        <label>Choose a version:</label>
        <ul class="version-switcher nav nav-pills">
          <li class="archived"><a href="#">Archived</a></li>
          <li class="live"><a href="#">Live</a></li>
        </ul>
  
        <br />
  
        <label>This page is:</label>
        <div class="rating list-group" data-toggle="tooltip" data-placement="top" title="Please, select an option">
          <a href="#" class="list-group-item list-group-item-success" data-value="4">Highly relevant</a>
          <a href="#" class="list-group-item list-group-item-success" data-value="3">Relevant</a>
          <a href="#" class="list-group-item list-group-item-warning" data-value="2">Not relevant</a>
          <a href="#" class="list-group-item list-group-item-danger" data-value="1">Junk or spam</a>
          <a href="#" class="list-group-item list-group-item-info" data-value="0">Don't know</a>
        </div>
  
        <div class="form-group">
          <label for="comment">Comment:</label>
          <textarea class="form-control" id="comment" rows="3" data-toggle="tooltip" data-placement="top" title="Comment is required when you answer Don't know"></textarea>
        </div>
  
        <div class="span7 text-center">
          <button type="button" class="btn btn-success text-center" style="width: 150px;">Submit</button>
        </div>
  
        <br />
  
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-info" role="progressbar"></div>
          <span style="margin-left: 5px; font-size: 12px;"></span>
        </div>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <iframe frameborder="0"></iframe>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="instructions" tabindex="-1" role="dialog" aria-labelledby="instructionsLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="instructionsLabel">Instructions</h4>
        </div>
        <div class="modal-body">
          <div th:replace="evaluation/description :: #description"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="continueEvaluation" tabindex="-1" role="dialog" aria-labelledby="continueEvaluationLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="continueEvaluationLabel">Continue?</h4>
        </div>
        <div class="modal-body">
          <p>Do you want to continue evaluation?</p>
          
          <h4>Top 5 evaluators:</h4>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Score</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-success" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>

  <script type="application/javascript" th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
  <script type="application/javascript" th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
  <script type="application/javascript" th:src="@{/js/evaluate.js}"></script>
</body>
</html>