<!doctype html>
<html data-layout-decorator="layout/evaluation">
<head>
<title>Sign in</title>
</head>
<body class="signin">
  <div data-layout-fragment="content">
    <form class="form-signin" role="form" method="post" data-th-action="@{/evaluation/signin/check}">
      <h2 class="form-signin-heading">Please sign in</h2>

      <div class="alert alert-danger" role="alert" th:if="${error}" th:text="${error}"></div>

      <input name="email" type="email" class="form-control" placeholder="Email address" required="required" autofocus="autofocus" />
      <input name="password" type="password" class="form-control" placeholder="Password" required="required" />
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <div class="signup">
        <a href="#" data-th-href="@{/evaluation/signup}">Sign up here</a>
      </div>
    </form>
  </div>
</body>
</html>
