<!doctype html>
<html data-layout-decorator="layout/evaluation">
<head>
<title>Sign up</title>
<script type="text/javascript" th:src="@{/js/signup.js}"></script>
</head>
<body class="signin">
  <div data-layout-fragment="content">
    <form id="signup-form" class="form-signin" role="form" method="post" data-th-action="@{/evaluation/signup/create}" th:object="${evaluator}">
      <h2 class="form-signin-heading">Sign up</h2>
      <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
        <ul>
          <li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerr : fielderr">
            <span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span> |
            <span th:text="${e.message}">The error message</span>
          </li>
        </ul>
      </div>
      <input name="name" type="text" class="form-control" placeholder="Your name" required="required" autofocus="autofocus" th:value="${evaluator.name}" />
      <input name="email" type="email" class="form-control" placeholder="Email address" required="required" th:value="${evaluator.email}" />
      <input name="password2" type="password" class="form-control" placeholder="Password" required="required" />
      <input name="password" type="password" class="form-control" placeholder="Repeat password" required="required" />
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
      <div class="signup">
        <a href="#" data-th-href="@{/evaluation/signin}">Existing user?</a>
      </div>
    </form>
  </div>
</body>
</html>