.inline-form {
    display: inline-block;
}

td.count,th.count {
    text-align: right;
}

.dl-compact .dl-compact {
    margin-left: 20px;
}
.dl-compact dt {
/*     float: left;
    width: 60px; */
    clear: left;
    white-space: wrap-words;
}

.dl-compact dd {
/*     margin-left: 80px; */
    float: left;
}

.dl-compact dd:before,
.dl-compact dd:after {
    display: table;
    content: " ";
}

.dl-compact dd:after,
.dl-compact:before, .dl-compact:after {
    clear: both;
}

.shrinkable {
    max-height: 3em;
    overflow-y: auto;
    transition: 5s ease-in-out;
}

.shrinkable:hover {
    max-height: 99999px;
}

.shrinkable .shrinkable {
    max-height: none;
    transition: none;
    overflow-y: hidden;
}

body.signin {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin input[name="password"] {
  margin-bottom: 10px;
}

.form-signin .signup {
  margin-top: 10px;
  text-align: center;
}

html, body.evaluate {
    height: 100%;
}

body.evaluate {
    overflow: hidden;
}

body.evaluate .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow: hidden;
    /*overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

/* Sidebar navigation */
body.evaluate .nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
body.evaluate .nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
body.evaluate .nav-sidebar > .active > a,
body.evaluate .nav-sidebar > .active > a:hover,
body.evaluate .nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

body.evaluate .rating {
    border: 1px solid transparent;
}

body.evaluate .rating.has-error {
    border: 1px solid #a94442;
    border-radius: 4px;
}

body.evaluate .list-group-item {
    height: 30px;
    padding: 5px;
}

body.evaluate .title {
    text-align: center;
}

body.evaluate .main {
    height: 100%;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 0;
    background-color: #aaa;
}

body.evaluate .main > iframe {
    width: 100%;
    height: 100%;
}

.tokens-table {
    table-layout: fixed;
}

.tokens-table td {
    text-overflow: ellipsis;
    overflow: hidden;
}


/* Table sorter plugin */
th.sort-header::-moz-selection {
    background: transparent;
}

th.sort-header::selection {
    background: transparent;
}

th.sort-header {
    cursor: pointer;
}

th.sort-header::-moz-selection, th.sort-header::selection {
    background: transparent;
}

table th.sort-header:after {
    content: '';
    float: right;
    margin-top: 7px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #404040 transparent;
    visibility: hidden;
}

table th.sort-header:hover:after {
    visibility: visible;
}

table th.sort-up:after, table th.sort-down:after, table th.sort-down:hover:after
    {
    visibility: visible;
    opacity: 0.4;
}

table th.sort-up:after {
    border-bottom: none;
    border-width: 4px 4px 0;
}